/* @mixin multipleTextOverflow($lineClamp) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
    align-content: center;
} */

button {
    font-size: 60px;
    /* @include multipleTextOverflow(2); */
}