@import './var';

@keyframes xie-slide-up-enter {
    from {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes xie-slide-up-leave {
    to {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes xie-slide-down-enter {
    from {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes xie-slide-down-leave {
    to {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes xie-slide-left-enter {
    from {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes xie-slide-left-leave {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes xie-slide-right-enter {
    from {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes xie-slide-right-leave {
    to {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes xie-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes xie-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes xie-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.xie-fade {
    &-enter-active {
        animation: xie-fade-in $animation-duration-base $animation-timing-function-enter both;
    }
    &-leave-active {
        animation: xie-fade-out $animation-duration-base $animation-timing-function-leave both;
    }
}

.xie-slide-up {
    &-enter-active {
        animation: xie-slide-up-enter $animation-duration-base $animation-timing-function-enter both;
    }
    &-leave-active {
        animation: xie-slide-up-leave $animation-duration-base $animation-timing-function-leave both;
    }
}

.xie-slide-down {
    &-enter-active {
        animation: xie-slide-down-enter $animation-duration-base $animation-timing-function-enter both;
    }
    &-leave-active {
        animation: xie-slide-down-leave $animation-duration-base $animation-timing-function-leave both;
    }
}

.xie-slide-left {
    &-enter-active {
        animation: xie-slide-left-enter $animation-duration-base $animation-timing-function-enter both;
    }
    &-leave-active {
        animation: xie-slide-left-leave $animation-duration-base $animation-timing-function-leave both;
    }
}

.xie-slide-right {
    &-enter-active {
        animation: xie-slide-right-enter $animation-duration-base $animation-timing-function-enter both;
    }
    &-leave-active {
        animation: xie-slide-right-leave $animation-duration-base $animation-timing-function-leave both;
    }
}